<div class="container my-5">
  <h1 class="mb-3">Edit Product</h1>

  <div class="row">
    <div class="col-6">
      <form #form="ngForm" (ngSubmit)="updateProduct()">
        <div class="mb-3">
          <input id="name" class="form-control" type="text" name="name" [(ngModel)]="productDetails.name" placeholder="Name" aria-label="Name">
        </div>
        <div class="mb-3">
          <select id="category" name="category" [(ngModel)]="selectedCategory" class="form-select" aria-label="Select Category">
            <option *ngFor="let category of categories;trackBy: trackByFn" [ngValue]="category">{{category.name}}</option>
          </select>
        </div>
        <div class="mb-3">
          <textarea class="form-control" id="description" name="description" [(ngModel)]="productDetails.description" placeholder="Description" rows="3"></textarea>
        </div>
        <div class="mb-3">
          <input id="origin" class="form-control" type="text" name="origin" [(ngModel)]="productDetails.countryOfOrigin" placeholder="Country of origin" aria-label="Country of origin">
        </div>

        <div *ngIf="!imageChanged">
          <img *ngFor="let img of images;" [src]="createImgPath(img)" style="width:60px; height:60px;">
        </div>

        <app-upload (onUploadFinished)="uploadFinished($event)"></app-upload>

        <button type="submit" class="btn btn-primary mr-5">Save</button>
        <button type="button" class="btn btn-danger ml-5" (click)="deleteProduct()">Delete</button>
      </form>
    </div>
  </div>
</div>
