
<div class="image">
  <img class="parallax-img" src="./assets/images/Banner.jpg"
  ngx-parallax
  property="transform"
  propertyValue="translate3d"
  [speed]="-0.3">
</div>


<div class="image">
    <div class="row" ngx-parallax>
      <div class="row">
        <div class="col-6">
          <span>FRESH FOOD FOR A FRESHER YOU</span>
          <span>Quality food, Quality life</span>
        </div>
        <div class="col-6">
          <img src="./assets/images/SideImage.png">
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <span>Online anywhere</span>
        </div>
        <div class="col-4">
          <span>Fast Delivery</span>
        </div>
        <div class="col-4">
          <span>24/7 Support</span>
        </div>
      </div>
    </div>
</div>
