<div class="container my-3">
  <h1 class="mb-3">Add New Product</h1>

  <div class="row">
    <div class="col-6">
      <form #form="ngForm" (ngSubmit)="addProduct()">
        <div class="mb-3">
          <input id="name" class="form-control" type="text" name="name" [(ngModel)]="addProductRequest.name" placeholder="Name" aria-label="Name">
        </div>
        <div class="mb-3">
          <select id="category" name="category" [(ngModel)]="selectedCategory" class="form-select" aria-label="Select Category">
            <option *ngFor="let category of categories;trackBy: trackByFn" [ngValue]="category">{{category.name}}</option>
          </select>
        </div>
        <div class="mb-3">
          <textarea class="form-control" id="description" name="description" [(ngModel)]="addProductRequest.description" placeholder="Description" rows="3"></textarea>
        </div>
        <div class="mb-3">
          <input id="origin" class="form-control" type="text" name="origin" [(ngModel)]="addProductRequest.countryOfOrigin" placeholder="Country of origin" aria-label="Country of origin">
        </div>

        <app-upload (onUploadFinished)="uploadFinished($event)"></app-upload>

        <button type="submit" class="btn btn-primary">Save</button>
      </form>
    </div>
  </div>
</div>
