<div class="container">
  <nav class="navbar fixed-top navbar-expand-lg justify-content-between bg-white">
    <a class="navbar-brand" href="#"><img src="./assets/images/Logo.png" height="70px"></a>
    <form class="d-flex" role="search">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
    <a class="navbar-brand" href="#"><img src="./assets/images/shoppingCart.png" height="50px"></a>
  </nav>
</div>

