<div>
  <div class="container my-5">
    <div class="row">
      <div class="offset-md-3 col-lg-5 col-md-7 offset-lg-4">
        <div class="panel border bg-white">
          <div class="panel-heading">
            <h3 class="pt-3 font-weight-bold">Login</h3>
          </div>
          <div class="panel-body p-3">
            <form [formGroup]="loginForm">
              <div class="mb-3">
                <label for="email" class="form-label">Email address</label>
                <input type="email" formControlName="email" class="form-control" id="email" aria-describedby="emailHelp">
                <small *ngIf="loginForm.controls['email'].dirty && loginForm.hasError('required', 'email')" class="text-danger">* Email is required.</small>
              </div>
              <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" formControlName="password" class="form-control" id="password">
                <small *ngIf="loginForm.controls['password'].dirty && loginForm.hasError('required', 'password')" class="text-danger">* Password is required.</small>
              </div>
              <button (click)="onLogin()" type="submit" class="btn btn-primary w-100">Login</button>
              <!-- <div class="text-center pt-4 text-muted">
                Don't have an account?
                <a id="signup" routerLink="/signup">Sign Up</a>
              </div> -->
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
